[Unit]
Description=Paros Queue Receiver
After=network-online.target
Wants=network-online.target

[Service]
User=hakan
WorkingDirectory=/home/hakan/parosReceiver
ExecStart=python3 /home/hakan/parosReceiver/receiver.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target